<?php

<style>
.widget-content p > label {
    color: rgba(0,0,0,1);
    font-family: 'Helvetica', serif;
    font-weight: 500;
    font-size: 14px;
}

.widefat {
	padding: 10px !important;
}

.widget-top {
	-webkit-box-shadow: 0px 0px 61px -7px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 61px -7px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 61px -7px rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease-in-out !important;
	transition: border 0.25s ease !important;
}

.widget-action .toggle-indicator:before {
	background: url('');
}

.widget-top:hover {
	-webkit-box-shadow: 0px 0px 76px -7px rgba(0,0,0,0.2) !important;
	-moz-box-shadow: 0px 0px 76px -7px rgba(0,0,0,0.2) !important;
	box-shadow: 0px 0px 76px -7px rgba(0,0,0,0.2) !important;
}

.widget-top {
	border-radius: 3px;
}


.upload_image_button {
	margin-top: 12px;
	padding: 12px 24px !important;
	width: 100%;
	border-radius: 3px;
	outline: none;
	box-shadow: none;
	border: none;
	background-color: #42f4a1;
	color: rgba(0,0,0,1);
    font-size: 14px;
    color: var(--titleGray);
    font-family: 'Helvetica', serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
	transition: all 0.25s ease-in;
}

.upload_image_button:hover {
	cursor: pointer;
    background-color: #4238ff;
    color: rgba(255,255,255,1);
}
</style>

?>