
/* Tooltips */
#header-help {
    position: absolute;
    z-index: 1000;
    bottom: 0;
}

#instagram-help {
    position: absolute;
    z-index: 1000;
    left: -10%;
    top: 20%;
}

.helper-tooltip .pulsate-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
}

.helper-tooltip .pulsate {
    position: absolute;
    z-index: 1;
    will-change: transform, opacity;
    display: block;
    background-color: transparent;
    width: 42px;
    height: 42px;
    border: 2px solid rgba(0,0,0,1);
    border-radius: 50%;
    animation: 1.75s ease 0s pulsate infinite;
    animation-delay: 0.5s;
}


.helper-tooltip .pulsate-bg:before {
    content: url('../svg/tooltips_star.svg');
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
}

.helper-tooltip .pulsate-bg {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.05);
}

.helper-tooltip .inner-tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 3;
    padding: 24px;
    background-color: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
    transition: all 0.5s ease;
}

.helper-tooltip:hover .inner-tooltip {
    visibility: visible;
    opacity: 1;
}

.helper-tooltip .main-body {
    display: flex;
    width: 290px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.helper-tooltip .main-body .tooltip-title {
    text-transform: uppercase;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 24px;
}


@keyframes pulsate {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.6);
    }
}

/* Contact Theme Authors */


.contact-theme-authors {
    border: none;
    position: fixed;
    top: auto;
    right: 144px;
    bottom: 0;
    z-index: 999999;
}

/*#contact_theme_authors {
    border: none;
    bottom: 18px;
    right: 18px;
    height: 80px;
    width: 80px;
    position: fixed;
    top: auto;
    z-index: 999999;
    background-color: black;
    border-radius: 50%;
} */

.gooey-circles {
    position: relative;
    min-height: 1px;
    height: 72px;
    filter:url("#fancy-goo");
}


.contact-theme-authors svg {
    display: none;
}

.circle {
    border-radius: 50%;
    width:72px;
    height:72px;
    background: #56f6ff;
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


.close img {
    height: 24px;
    width: 24px;
    display: block;
}

@keyframes rotateplus {
    from {
        transform: rotate(45deg);
    } to {
        transform: rotate(90deg);
    }
}

.gooey-circles .close {
    transform: rotate(45deg);
}


@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.note {
    position: absolute;
    opacity: 0;
    color: black;
    z-index: 1;
    transform: translate3d(-100px,25px,0);
}

.gooey-circles:hover > /*fucking add animations to other divs other than childs w3 pls kiss */ div.note {
    animation: fadein 0.5s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.gooey-circles > * {
    transition: all 0.25s ease-in;
}

.gooey-circles:hover .c1 {
    transition: all 1s ease-in-out;
    border-radius: 0;
    width: 150px;
    transform: translate3d(-150px,0,0);
}

.gooey-circles:hover .c2 {
    transition: all 1s ease-in-out;
    transform: translate3d(38px,0,0);
}

.gooey-circles:hover .close {
    animation: rotateplus 0.5s ease;
    animation-fill-mode: forwards;
}