
/*!
Theme Name: _s
Theme URI: https://underscores.me/
Author: Automattic
Author URI: https://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: _s
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
_s is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/* Torch Framework */

@import url("css/torch.css");
/* General Rules */

iframe {
    width: 100%;
}

html {}

p {
    margin: 0;
}
ol, ul {
    list-style: none;
}

body {
    height: 100%;
    box-sizing: border-box;
    background: #f6f6f6;
    font-family: 'Simoncini Garamond Italic', sans-serif;
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
}
/*Finish General Rules */


/* Variables */
:root {
    --baseGray:         #e5e5e5;
    /* The base gray, light version used on lines usually */
    --titleGray:        #1e1e1e;
    /* The title's gray, used for posts' titles and other important things */
    --infotextGray:    #787878;
    /* The info text gray, usually meta info such as post dates, small additional informative text */
}
/* Finish Variables */


/* Bootstrap Resets */
.navbar {
    border-bottom: none;
    min-height: 0;
    margin-bottom: 0;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}


[class^="col-md-"],
[class*="col-md-"],
[class^="col-sm-"],
[class*="col-sm-"] {
    padding: 0;
}
/* Finish Bootstrap Resets */

/* Finish Socicon */


/* Generals */
/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none }

strong, b, strong *, b * { font-weight: bold; } 
em, i, em *, i * { font-style: italic; }
/**/


a {
    text-decoration:none;
    color:#000000;
}

h1,h2,h3,h4,h5,h6 {
    font-family:"Simoncini Garamond Italic";
}

p {
    line-height: 1.5;
}

a,
a:hover {
    text-decoration: none;
}
/* Finish Generals */

/* Enqueue Fonts */
@font-face {
    font-family: 'Miller Banner Light';
    font-style: normal;
    src: url('fonts/Miller-Banner-Light-01.eot'); /* IE9 Compat Modes */
    src: url('fonts/Miller-Banner-Light-01.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Miller-Banner-Light-01.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Miller-Banner-Light-01.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Miller Banner Italic';
    src: url('fonts/Miller-Banner-Italic-01.eot'); /* IE9 Compat Modes */
    src: url('fonts/Miller-Banner-Italic-01.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Miller-Banner-Italic-01.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Miller-Banner-Italic-01.ttf')  format('truetype') /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Simoncini Garamond Italic';
    src: url('fonts/Simoncini Garamond Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Simoncini Garamond Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/Simoncini Garamond Italic.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/Simoncini Garamond Italic.ttf')  format('truetype') /* Safari, Android, iOS */
}
/* Finish Enqueue Fonts */

/* Grid Stylings & Bootstrap Partials */
* Controls For Patches on the Grid */

/* When there's an uneven number of posts, given the number of columns, we will generate
another post | column to fit it the 3*n necessary number, creating an empty gray-box, just so it
looks good. The divs are generated with PHP, as not to put strain on the user's rendering.

In short, the system asks: "What is the expected number of posts to fit in here? Is it 6? Do I have 6 posts?
If not, use .core_empty to fill in the space, if I do have 6 posts, don't do anything.

1) Behaves like a normal post, just no content. */
.core_empty {
    background-color: #e9e9e9;
}


/* This class is used to define the main area for posts. They should always have a align: flex-start and be seen
as a column. */

.core_flex-posts-column-align-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

/* When on responsive, given the framework's behavior of going to a 1col (100% width) under 768px,
we will hide the core_empty box (the gray boxes) as they're no longer necessary for the good visual flow.*/
@media screen and (max-width: 768px) {
    .core_empty {
        display: none;
    }
}


/* Two Columns */
.col-2-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-2-grid .grid-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 50%;
}

@media screen and (max-width: 768px) {
    .main-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .col-2-grid {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .col-2-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Three Columns */
.col-3-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 980px) {
    .col-3-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 32%;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 33.333333%;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
    .col-3-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48%;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .col-3-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Four Columns */
.col-4-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (min-width: 980px) {
    .col-4-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 24%;
        -ms-flex: 0 0 24%;
        flex: 0 0 24%;
        max-width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
    .col-4-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
        flex: 0 0 49%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .col-4-grid .grid-item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@-ms-viewport {
    width: device-width;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
    }
}

@media (min-width: 768px) {
    .container {
    }
}

@media (min-width: 992px) {
    .container {
    }
}

@media (min-width: 1200px) {
    .container {
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-md-general, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl {
    position: relative;
    width: 100%;
    min-height: 1px;
}

.col {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.col-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (min-width: 576px) {
    .col-sm {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .col-sm-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {

    .col-md-posts {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 70.666667%;
        max-width: 70.666667%;
    }

    .col-md {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .col-md-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .col-lg-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-lg-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-lg-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xl-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
    }
    .col-xl-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-xl-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-xl-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .col-xl-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-xl-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-xl-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-xl-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .col-xl-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/*# sourceMappingURL=bootstrap-grid.css.map */

/* Button Styles */

.button-continue-reading {
    padding: 8px 20px;
    background: transparent;
    border: 2px solid var(--titleGray);
    -webkit-transition: background 0.35s ease;
    -o-transition: background 0.35s ease;
    transition: background 0.35s ease;
}

.button-continue-reading:hover  {
    background: var(--titleGray);
}

.button-continue-reading a {
    display: block;
    letter-spacing: 2px;
    font-size: 9px;
    font-weight: 800;
    color: var(--titleGray);
    text-transform: uppercase;
}

.button-continue-reading:hover a {
    color: white;
}

.button-continue-reading:focus {
    outline: none;
}

/* Finish Button Styles */

/* Header */
/* Header Globals */

.header {
    position: relative;
}

.header-focus {
    background: white;
    z-index: 1;
}

.header-focus .top-part {
    z-index: 3;
}

.header-focus .bottom-part {
    position: relative;
    z-index: 2;
}

/* Finish Header Globals */


/* Header > Hamburger Menu Animation */

.header .bottom-part .hamburger-wrapper {
    position: absolute;
    top: -50%;
}

.menu-toggle {
    will-change: transform;
    position: absolute;
    z-index: 99999998;
    width: 100px;
    height: 100px;
    cursor: pointer;
    -webkit-transform: scale(0.31);
    -ms-transform: scale(0.31);
    transform: scale(0.31);
}
.menu-toggle span {
    display: block;
    background: #121212;
    border-radius: 2px;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}

.menu-toggle .hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
}
.menu-toggle .hamburger span {
    width: 60px;
    height: 6px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}
.menu-toggle .hamburger span:nth-child(1) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.menu-toggle .hamburger span:nth-child(2) {
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
.menu-toggle .hamburger span:nth-child(3) {
    -webkit-transition-delay: .75s;
    -o-transition-delay: .75s;
    transition-delay: .75s;
}
.menu-toggle .cross {
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-toggle .cross span:nth-child(1) {
    height: 0%;
    width: 6px;
    position: absolute;
    top: 10%;
    left: 48px;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu-toggle .cross span:nth-child(2) {
    width: 0%;
    height: 6px;
    position: absolute;
    left: 10%;
    top: 48px;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}

.menu-toggle.open .hamburger span {
    width: 0%;
}
.menu-toggle.open .hamburger span:nth-child(1) {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu-toggle.open .hamburger span:nth-child(2) {
    -webkit-transition-delay: .125s;
    -o-transition-delay: .125s;
    transition-delay: .125s;
}
.menu-toggle.open .hamburger span:nth-child(3) {
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}
.menu-toggle.open .cross span:nth-child(1) {
    height: 80%;
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    transition-delay: .625s;
}
.menu-toggle.open .cross span:nth-child(2) {
    width: 80%;
    -webkit-transition-delay: .375s;
    -o-transition-delay: .375s;
    transition-delay: .375s;
}

.hamburger-wrapper .hamburger-dropdown {
    will-change: transform, opacity;
    position: absolute;
    z-index: 99999999;
    padding: 24px;
    width: 180px;
    top: 80px;
    left: -40px;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 125px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 125px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 125px 0px rgba(0,0,0,0.2);
    -webkit-transform: translate3d(0,-15px,0);
    transform: translate3d(0,-15px,0);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.hamburger-wrapper .hamburger-dropdown.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}

.hamburger-wrapper .hamburger-dropdown .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hamburger-wrapper .hamburger-dropdown .menu li {
    will-change: transform;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px 0 6px 0;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--baseGray);
    transform: translate3d(0,15px,0);
    transition: all 0.5s ease;
}

.hamburger-wrapper .hamburger-dropdown.active li {
    transform: translate3d(0,0,0);
}

.hamburger-wrapper .hamburger-dropdown li:first-child {
    margin: 0 0 6px 0;
}

.hamburger-wrapper .hamburger-dropdown li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin: 6px 0 0 0;
}

.hamburger-wrapper .hamburger-dropdown li a {
    white-space: nowrap;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--titleGray);
}

@media screen and (max-width: 768px) {
    .header-menu,
    .header-social-icons-list {
        display: none !important;
    }
}

@media screen and (min-width: 768px) {
    .header .hamburger-wrapper {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header .bottom-part .hamburger-wrapper {
        right: 60%;
    }
}

@media screen and (max-width: 524px) {
    .header .bottom-part .hamburger-wrapper {
        position: absolute;
        top: -50%;
        right: 64%;
    }
}

/* Finish Hamburger Menu */


/* Header > Main Parts */

.header-menu {
    position: relative;
}

/* Header > Top Part */
.header .top-part {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid var(--baseGray);
    padding: 24px 0;
}

.flex-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.header .search-top {
    position: relative;
}

.header .search-top .search-icon .search-btn {
    text-align: right;
}

.header .search-top .search-icon .search-btn img {
    width: 18px;
    height: 18px;
}

.header .search-top .search-top-form {
    opacity: 0;
    visibility: hidden;
    right: 0;
    padding-top: 15px;
    position: absolute;
    z-index: 4;
    transition: opacity 0.5s ease, visibility 0s;
}

.header .search-top .search-top-form input {
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.1);
    transition: border 0.25s ease;
}

.header .search-top .search-top-form input:focus {
    outline: none;
    border: 1px solid rgba(0,0,0,0.4);
}

.header .search-top .search-top-form input[type="text"] {
    padding: 12px 12px 12px 12px;
}

.header .search-top:hover .search-top-form {
    opacity: 1;
    visibility: visible;
}

.header .informatory-header-text .text {
    font-family: 'Simoncini Garamond Italic', serif;
    font-size: 14px;
    color: var(--titleGray);
    opacity: 0.9;
}

.header .informatory-header-text .big-text {
    font-family: 'Simoncini Garamond Italic', serif;
    font-size: 20px;
    color: var(--titleGray);
}

.header .header-logo {
    text-align: center;
}

.custom-logo {
    width: auto;
    max-height: 160px !important;
    max-width: 100%;
    object-fit: cover;
}
/* Finish Header > Top Part */

/* Header > Bottom Part */
.header .bottom-part {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 16px 0;
}

.header .header-social-icons-list .social-icons {
    text-align: right;
    list-style: none;
}

.header .header-social-icons-list .social-icons .social-icon > a {
    text-decoration: none;
}

.header .header-social-icons-list .social-icons .social-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 20px;
    text-decoration: none;
}

.header .header-social-icons-list .social-icons .social-icon > a > i {
    font-size: 18px;
}

.header .header-social-icons-list .social-icons .social-icon:last-child {
    margin-right: 0;
}

.header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .menu-menu-1-container {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .menu .menu-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    line-height: 28px;
    padding: 0 16px 0 16px;
    position: relative;
}

.header .menu .menu-item:first-child {
    padding: 0 16px 0 0px;
}

.header .menu .menu-item:last-child {
    padding: 0 0 0 16px;
}

.header .menu .menu-item > a {
    font-size: 14px;
    color: var(--titleGray);
    font-family: 'Helvetica', serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 768px) {
    .header .bottom-part {
        padding: 24px 0;
    }
}
/* Header > Dropdown Styling */
/* ? How ? https://stackoverflow.com/questions/44089967/make-drop-down-menu-to-stay-on-hover */

.menu .menu-item .sub-menu {
    line-height: 1.4;
    visibility: hidden;
    background-color: white;
    position:absolute;
    z-index: -1;
    opacity: 0;
    top: 100%;
    left: 0;
    border: 1px solid #e5e5e5;
    transition: opacity 0.5s ease, visibility 0s;
}

.menu .menu-item:hover .sub-menu {
    visibility: visible;
    display: block;
    z-index: 2;
    opacity: 1;
}

.menu .menu-item .sub-menu li {
    padding: 12px 24px 12px 24px !important;
    text-align: left;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #e5e5e5;
    line-height: initial;
}

.menu .menu-item .sub-menu li:last-child {
    border-bottom: 0;
}

.menu .menu-item .menu-dropdown li > a {
    font-size: 14px;
    color: var(--infotextGray);
    font-family: 'Helvetica', serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Finish Header > Dropdown Styling */
/* Finish Header > Bottom Part */

/* Custom Headers */
/* Header 2 */
.header-2 .bottom-part {
    position: relative;
}

.header-2 .search-top {
    position: absolute;
    right: 0;
}

.header-2 .menu {
    justify-content: center;
}

/* Header 3 */
.header-3 .search-top {
    position: absolute;
    right: 0;
}


/* Header 4 */

.header-4 .header-logo {
    display: flex;
    justify-content: flex-start;
}

.header-4 .bottom-part {
    justify-content: center;
}

.header-4 .informatory-header-text .text {
    text-align: center;
}

.header-4 .informatory-header-text .text .big-text {
    font-size: 30px;
}

/* Header 5 */

.header-5 .bottom-part {
    background-color: rgba(40, 40, 40, 1);
}

.header-5 .menu .menu-item > a {
    color: white;
    letter-spacing: 0.5px;
    text-transform: none;
}

.header-5 .search-top {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);

}

/* Finish Header */


/* Outer Libraries*/
/* Owl Slider */
.owl-dots {
    text-align: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 24px 0 24px 0;
}

.owl-dot {
    border-radius: 50px;
    height: 10px;
    width: 10px;
    display: inline-block;
    border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -ms-transition:0.5s ease;
    -o-transition:0.5s ease;
    transition:0.5s ease;
}

.owl-dot.active {
    background: black;
}

.owl-dot:hover {
    background: black;
}
/* Finish Owl Slider */
/* Finish Outer Libraries */


/* Custom Content Boxes */

/* Custom Content Boxes > Instagram Section */
.instagram-section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 96px 0 24px 0;
}

.instagram-section .insta-overlay {
    position: absolute;
    z-index: 1;
}


.instagram-section .insta-text img {
    height: 120px;
}

.instagram-section .insta-text {
    position: absolute;
    right: 0;
    top: -70px;
    left: 0;
    line-height: 2;
    z-index: 1;
    text-align: center;
}

.instagram-section .instagram-thumb .insta-photo {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
/*Finish Custom Content Boxes > Instagram Section */

/* Custom Content Boxes > Social Footer */
.social-footer {
    border-top: 1px solid var(--baseGray);
    clear: both;
    width: 100%;
    margin: 24px 0 24px 0;
    text-align: center;
}

.social-footer .social-icons-footer li a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-footer .social-icons-footer .tag-name {
    padding-left: 10px;
    opacity: 1;
    color: var(--titleGray);
}

@media screen and (max-width: 768px) {
    .social-footer .social-icons-footer .tag-name {
        display: none;
    }
}

.social-icons-footer .social-icon p {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* Finish Custom Content Boxes > Social Footer */

/* Footer */

.site-footer {
    background-color: rgba(0,0,0,1);
    padding: 16px 24px;
}

.site-footer .site-info {
    text-align: center;
}

.site-footer .site-info a {
    color: white;
}

/* Finish Custom Content Boxes */


/* Posts Layouts */
.main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-start;
    margin-top: 48px;
    flex-wrap: wrap;
}

/* Finish Posts Layouts */

/* Sidebar */

.sidebar-main {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 24px;
    background: white;
    margin-left: auto;
    top: 0;
    position: sticky;
    height: auto;
    align-self: flex-start;
}

@media screen and (min-width: 768px) {
    .sidebar-main {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 26.333333%;
        -ms-flex: 0 0 26.333333%;
        flex: 0 0 26.333333%;
        max-width: 26.333333%;
        min-height: 1px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar-main {
        padding: 0 24px 0 24px;
    }
}

.sidebar-main section {
    position: relative;
    margin-bottom: 48px;
}

.sidebar-main section:last-of-type {
    margin-bottom: 0;
}

/* Secondary (Footer) Sidebar */

#sidebar-footer {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 24px;
    background: white;
    align-items: flex-start;
    margin: 48px 0 48px 0;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
        #sidebar-footer section {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30.333333%;
        -ms-flex: 0 0 30.333333%;
        flex: 0 0 30.333333%;
        max-width: 30.333333%;
        min-height: 1px;
    }
}


[class*="widget-title-style-"],
[class*="widget-title-style-"] {
    font-size: 30px;
    margin-bottom: 24px;
    /* display: inline-block; Fix for border-bottom. */
}

.widget-title-style-1 {
    padding: 12px;
    background: white;
    text-align: center;
    font-family: 'Simoncini Garamond Italic', sans-serif;
    border-bottom: 4px solid var(--titleGray);
}

.widget-title-style-1a {
    text-align: center;
    margin-bottom: 36px;
}

.widget-title-style-1a:before {
    content: url('../img/widget_art-1left.png');
    margin-right: 10px;
}

.widget-title-style-1a:after {
    content: url('../img/widget_art-1right.png');
    margin-left: 10px;
}


.widget-title-style-2 {
    text-align: center;
    margin: 0 10px 0 10px;
}

.widget-title-style-2:before {
    content: url('../img/widget_art-2left.png');
    margin-right: 10px;
    max-width: 80px;
}

.widget-title-style-2:after {
    content: url('../img/widget_art-2right.png');
    margin-left: 10px;
    max-width: 80px;
}

.widget-title-style-3 {
    text-align: center;
    padding: 16px;
    border: 2px solid #d3d3d3;
}

.widget-title-style-4 {
    text-align: center;
    padding: 16px;
    border-bottom: 3px solid #bbbbbb;
}

.widget-title-style-4-1 {
    text-align: left;
    padding: 0 0 16px 0;
    border-bottom: 3px solid #bbbbbb;
}

.widget-title-style-5 {
    text-align: center;
    padding: 24px;
    background-color: #f0f0f0;
}

.widget-title-style-6 {
    text-align: center;
    padding: 20px;
    background-color: #272727;
}

.widget-title-style-7 {
    overflow: hidden;
    display: table;
    white-space: nowrap;
    text-align: center;
}

.widget-title-style-7:before {
    border-top: 1px solid var(--baseGray);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 45%;
    right: 2.5%;
}

.widget-title-style-7:after {
    border-top: 1px solid var(--baseGray);
    content: '';
    display: table-cell;
    position: relative;
    top: 0.7em;
    width: 45%;
    left: 2.5%;
}

.widget-title-style-8 {
    white-space: nowrap;
    text-align: center;
    padding: 20px;
    border-style: dotted;
    border-color: rgba(213, 126, 0, 1);
    border-image-source: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns:sketch='http://www.bohemiancoding.com/sketch/ns' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-29.5 -44.5 100 100' style='enable-background:new -29.5 -44.5 100 100;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:%23cfcfcf;} %3C/style%3E%3Ctitle%3Edots%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' sketch:type='MSPage'%3E%3Cg id='Artboard-1' transform='translate(-140.000000, -154.000000)' sketch:type='MSArtboardGroup'%3E%3Cg id='dots' transform='translate(140.000000, 154.000000)' sketch:type='MSLayerGroup'%3E%3Cg id='dot' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='-19.5' cy='-34.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_1_' transform='translate(0.000000, 20.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='-19.5' cy='25.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_2_' transform='translate(0.000000, 10.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='-19.5' cy='-4.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_3_' transform='translate(10.000000, 0.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='10.5' cy='-34.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_4_' transform='translate(10.000000, 20.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='10.5' cy='25.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_5_' transform='translate(20.000000, 0.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='40.5' cy='-34.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_6_' transform='translate(20.000000, 20.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='40.5' cy='25.5' r='10'/%3E%3C/g%3E%3C/g%3E%3Cg id='dot_7_' transform='translate(20.000000, 10.000000)' sketch:type='MSShapeGroup'%3E%3Cg%3E%3Ccircle class='st0' cx='40.5' cy='-4.5' r='10'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-image-slice: 26% 26%;
    border-image-repeat: round;
}

.widget-title-style-9 {
    text-align: center;
    position: relative;
}

.widget-title-style-9:before {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 25%;
    border-bottom: 2px solid #3bf6bf;
}


.widget-title-style-10 {
    position: relative;
    text-align: center;
    padding: 10px 0;
}

.widget-title-style-10:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.15;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAANUlEQVQoU2NkQAX/0fiMMD6cwcDAAFKEzAepgYvBJLApghkGlgMpxKcIrhjdKjQnIrgDqBAAfp0HCAUa4sUAAAAASUVORK5CYII=) repeat;
    background-color: transparent;
}


.widget-title-style-11 {
    position: relative;
    text-align: center;
    padding: 16px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
}

.widget-title-style-11:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='304' height='304' viewBox='0 0 304 304' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2a5 5 0 1 0-2 0V82h64v-2h-62V21.9zm16 16a5 5 0 1 0-2 0V66h48v-2h-46V37.9zm-128 96a5 5 0 1 0-2 0V210h16v10.1a5 5 0 1 0 2 0V208h-16v-74.1zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9a5 5 0 1 0-2 0V144H53.9a5 5 0 1 0 0 2H98v-44.1zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9a5 5 0 1 0-2 0V64H80v64H69.9a5 5 0 1 0 0 2H82V66h32V37.9zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9a5 5 0 1 0-2 0V162h16v30h-16v66h48v46h2v-48h-48v-62h16v-34h-16v-10.1zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.172l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.513L175.586 80H224V21.9a5 5 0 1 1 2 0V82h-49.586L146 112.414V188.1zm16 32a5 5 0 1 1-2 0v-99.513L184.586 96H300.1a5.004 5.004 0 0 1 3.9-3.9v2.07a3.004 3.004 0 0 0 0 5.66v2.07a5.004 5.004 0 0 1-3.9-3.9H185.414L162 121.414V220.1zm-144-64a5 5 0 1 1-2 0v-3.513l48-48V48h32V0h2v50H66v55.413l-48 48v2.687zM50 53.9a5 5 0 1 0-2 0v42.686l-48 48V210h28.1a5 5 0 1 0 0-2H2v-62.586l48-48V53.9zm-16 16a5 5 0 1 0-2 0v18.686l-32 32v2.828l34-34V69.9zM12.1 32a5 5 0 1 1 0 2H9.414L0 43.414v-2.828L8.586 32H12.1zm265.8 18a5 5 0 1 1 0-2h18.686L304 40.586v2.828L297.414 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.413l16-16v2.827l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.586L40.586 194H21.9a5 5 0 1 1 0-2h19.513L66 216.586V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.598L56.598 162H37.9a5 5 0 1 1 0-2h19.502L98 200.598V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.586L48.586 178H21.9a5 5 0 1 1 0-2h27.513L82 208.586V258H53.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM34 39.793V0h-2v40.586L8.586 64H0v2h9.413L34 41.414v-1.62zM2 300.1V258h14v46h2v-48H0v46.17A3.004 3.004 0 0 1 3.83 304H5.9a5.004 5.004 0 0 0-3.9-3.9zM34 241v63h-2v-62H0v-2h34v1zM17 18h1V0h-2v16H0v2h17zm273-2V0h-2v18h16v-2h-14zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.002 5.002 0 0 1 6 97a5.002 5.002 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32a5 5 0 0 0-9.8 0h2.07a3.004 3.004 0 0 1 5.66 0h2.07zM5.9 0A5.002 5.002 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0a5 5 0 0 0 3.9 5.9V3.83A3.004 3.004 0 0 1 302.17 0h-2.07zm3.9 300.1a5.004 5.004 0 0 0-3.9 3.9h2.07a3.016 3.016 0 0 1 1.83-1.83v-2.07z' fill='%2345404b' fill-opacity='.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.widget-title-style-12 {
    padding: 12px 0px;
    background: transparent;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Helvetica', sans-serif;
}


/* Sidebar > Widget Author */

.widget-about-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget-about-author .title {
    width: 100%;
}

.widget-about-author .author-image {
    margin-bottom: 24px;
}

.widget-about-author .author-image img {
    height: 96px;
    width: 96px;
    border-radius: 500px;
    object-fit: cover;
}

.widget-about-author .author-heading {
    font-size: 28px;
    color: var(--titleGray);
    font-family: 'Simoncini Garamond Italic', sans-serif;
    margin-bottom: 12px;
    font-weight: 600;
}

.widget-about-author .author-bio {
    font-size: 16px;
    color: var(--infotextGray);
    font-family: 'Simoncini Garamond Italic', sans-serif;
    line-height: 26px;
    text-align: center;
}

.widget-about-author .author-signature{
    margin-top: 24px;
}

.widget-about-author .author-signature img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 120px;
    object-fit: cover;
}

.widget-about-author .author-social-links {
    display: inline-flex;
    flex-direction: row;
    margin-top: 24px;
}

.widget-about-author .author-social-links li:not(:last-child) {
    padding-right: 12px;
}

/* Finish Sidebar > Widget Author */

.widget-popular-posts-1 .posts {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.widget-popular-posts-1 .post-individual {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 0 24px 0;
    border-bottom: 1px solid var(--baseGray);
}

.widget-popular-posts-1 .post-individual:first-of-type {
    padding: 0 0 24px 0;
}

.widget-popular-posts-1 .post-individual:last-of-type {
    padding: 24px 0 0 0;
    border-bottom: 0;
}

.widget-popular-posts-1 .post-individual .post-image {
    -ms-flex-preferred-size: 27%;
    flex-basis: 27%;
    height: 96px;
}

.widget-popular-posts-1 .post-individual .post-title {
    font-size: 22px;
}

.widget-popular-posts-1 .post-individual .post-meta-info {
    font-size: 16px;
    opacity: 0.7;
}

.widget-popular-posts-1 .post-individual .meta {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
}

.widget-popular-posts-1 .post-individual .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.widget-categories-1 .category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.widget-categories-1 .category-list li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 0 12px 0;
    border-bottom: 1px solid var(--baseGray);
}

.widget-categories-1 .category-list li a {
    font-size: 18px;
}

.widget-categories-1 .category-list li:first-child {
    padding: 0 0 12px 0;
}
.widget-categories-1 .category-list li:last-child {
    padding: 12px 0 0 0;
    border-bottom: none;
}

.widget-categories-1 .category-list li:before {
    margin-right: 6px;
    content: '';
    background-image: url('../svg/arrow-1.svg');
    background-size: 8px 8px;
    height: 8px;
    width: 8px;
}


.widget-image-1 a img {
    height: 100%;
    width: 100%;
}


.widget-sidebar-category-block {
    position: relative;
}

.widget-sidebar-category-block .category-link {
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 100;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Helvetica", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 14px 24px 12px 24px;
    color: black;
    background-color: white;
}

.widget-sidebar-category-block .category-image {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

/* Instagram Widget */

.instagram-widget {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-wrap: wrap;
}

.instagram-widget-list {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instabgram-thumb {
    display: flex;
}

.instagram-thumb a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instagram-thumb-2-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 47.699333%;
    -ms-flex: 0 0 47.699333%;
    flex: 0 0 47.699333%;
    max-width: 47.699333%;
    max-height: 142px;
    margin-bottom: 14px;
}

.instagram-thumb-3-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 31.133333%;
    -ms-flex: 0 0 31.133333%;
    flex: 0 0 31.133333%;
    max-width: 31.133333%;
    max-height: 93px;
    margin-bottom: 12px;
}

.instagram-thumb-4-col {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 22.64975%;
    -ms-flex: 0 0 22.64975%;
    flex: 0 0 22.64975%;
    max-width: 22.64975%;
    max-height: 67px;
    margin-bottom: 10px;
}

.instagram-widget-profile-link {
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    justify-content: center;
}

.instagram-widget-profile-link a {
    display: inline-flex;
    align-items: center;
}
.instagram-widget-profile-link p {
    line-height: 0;
}

.instagram-widget-profile-link i {
    font-size: 18px;
    margin-right: 8px;
}

/* Rules for the Widgets in the Customizer */

.customizer-custom-message-1 {
    padding: 24px !important;
    -webkit-box-shadow: 0px 0px 79px -20px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 79px -20px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 79px -20px rgba(0,0,0,0.1) !important;
}

/* Default Widgets */

.widget_recent_entries ul > li {
    padding: 0 0 12px 0;
}

.widget_recent_comments ul > li {
    padding: 0 0 12px 0;
}

.widget_archive ul > li {
    padding: 0 0 12px 0;
}

.widget_meta ul > li {
    padding: 0 0 12px 0;
}

/* Finish Sidebar */


/* Special Rules */
.instagram-section + .social-footer {
    margin: 0 0 24px 0;
    border: 0;
    padding: 0;
}
/* Finish Special Rules */


/* Custom Content Boxes */
/* latests-posts-1 */

.latest-posts-1 {
    padding: 48px;
    background-color: white;
}

.latest-posts-1 .box-title {
    margin-bottom: 48px;
}

.latest-posts-1 .box-title .meta {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
    color: var(--infotextGray);
    margin-bottom: 6px;
}

.latest-posts-1 .box-title .category {
    color: var(--titleGray);
    font-family: 'Miller Banner Light', serif;
    font-size: 30px;
    letter-spacing: 0px;
    font-weight: 500;
    border-bottom: 2px solid black;
    display: inline-block;
}

.latest-posts-1 .inner-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .latest-posts-1 .inner-posts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }

    .latest-posts-1 .big-post {
        margin-bottom: 24px;
    }
}

.latest-posts-1 .big-post-image img {
    display: block;
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.latest-posts-1 .big-post-info {
    background-color: #f7f7f7;
    text-align: center;
    padding: 16px 0 16px 0;
}

.latest-posts-1 .big-post-info .title {
    font-size: 24px;
}

.latest-posts-1 .small-posts li {
    padding: 12px 0;
    border-bottom: 1px solid #e9e9e9;
}

.latest-posts-1 .small-posts li:first-child {
    padding: 0 0 12px 0;
}

.latest-posts-1 .small-posts li:last-child {
    padding: 12px 0 0 0;
    border-bottom: 0;
}

/* Finish Custom Content Boxes */

/* Responsive */
/* Finish Responsive */


/* Basic Post Look 1 */

.post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

/* Ordering */

.post > * {
    margin: 0 0 24px 0;
}

.post-header {
    order: 1;
}

.post-thumbnail {
    order: 2;
}

.post-video-head {
    order: 2;
}

.post-content {
    order: 3;
}

.post-read-more {
    order: 4;
}

.post-share {
    order: 5;
}

.post-thumbnail {
    overflow: hidden;
    max-height: 480px;
    width: 100%;
    position: relative;
}

/* Video */

.post-thumbnail .play {
    will-change: transform, opacity, box-shadow;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 100;
    width: 100px;
    height: 100px;
    background-color: rgba(255,255,255,1);
    border-radius: 50%;
    transition: all 0.25s ease;
    -webkit-box-shadow: 0px 0px 104px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 104px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 104px 1px rgba(0,0,0,0.15);
}

.post-thumbnail:hover .play {
    opacity: 1;
    transform: translate3d(-50%,-60%,0);
}

.post-thumbnail .play:hover {
    -webkit-box-shadow: 0px 0px 96px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 96px 30px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 96px 30px rgba(0,0,0,0.3);
}

.post-thumbnail .play img {
    width: 48px;
    height: 48px;
}

.post-thumbnail img {
    object-fit: cover;
    height: 450px;
    width: 100%;
}

.post-read-more {
    text-align: center;
}

.post-share {
    display: flex;
    justify-content: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.post-share .holder {
    display: inline-flex;
}

.post-share .share-post-icon {
    margin-right: 12px;
}

.post-padding {
    padding: 0 0 36px 0;
}

.post-margin {
    margin: 0 0 24px 0;
}

.post-meta {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
    color: var(--infotextGray);
    text-align: center;
    z-index: 9;
}

.post-meta a {
    color: var(--infotextGray);
    text-decoration: none;
}

.post-meta a:hover {
    opacity: 1;
}

.post-header {
    position: relative;
}

.post-header > *:not(:last-child) {
    margin-bottom: 12px;
}

.post-title {
    text-align: center;
}

.post-title a {
    color: var(--titleGray);
    font-family: 'Miller Banner Light', serif;
    font-size: 48px;
    letter-spacing: -0.3px;
    font-weight: normal;
    line-height: 1.3;
}

.post-title a:hover {
    border-bottom: 3px solid black;
}

.post-secondary-meta {
    text-align: center;
}

.post-secondary-meta a {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Simoncini Garamond Italic', 'serif';
    color: var(--titleGray);
    letter-spacing: 0.5px;
}

.post-content {
    padding: 0 24px 0 24px;
}

.post-content p {
    text-align: center;
    color: var(--titleGray);
    font-size: 16px;
    font-family: 'Simoncini Garamond Italic', sans-serif;
    line-height: 26px;
}

.post-author {
    display: none;
}

/* Posts Auxiliaries */

.loop-pagination {
    padding: 24px 0;
    display: inline-flex;
    justify-content: center;
    background-color: rgba(255,255,255,1);
}

.loop-pagination .items {
    display: flex;
    justify-content: center;
    color: rgba(0,0,0,1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    transition: color 0.25s ease;
}

.loop-pagination .items .current {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    color: rgba(0,0,0,0.4);
}

.loop-pagination .items .page-numbers:hover {
    color: rgba(0,0,0,0.5);
}

.loop-pagination .items > * {
    display: inline-flex;
}

.loop-pagination .items > *:not(:last-child) {
    margin-right: 12px;
}

/* Pages */
/* Global Pages Styles */
.content-area {
    width: 100%;
}

/* Author Page */

.author-page-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 24px;
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.6);
}

.author-page-header .name {
    padding: 0 12px 0 6px;
    color: rgba(0,0,0,1);
}

.author-page-header .avatar img {
    border-radius: 50%;
}

/* Search Page */


.search-page-header {
    background-color: white;
    padding: 24px;
    text-align: center;
    margin: 0 0 48px 0;
}

.search-page-title {
    font-size: 14px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.6);
}

.search-page-title .term {
    color: rgba(0,0,0,1);
}

/* Category Page */

.category-page-header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 24px;
    margin-bottom: 48px;
}

.category-page-header .page-title {
    font-size: 14px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(0,0,0,0.6);
}


/*Individual Post Page */
/* Main Items */
.single-post {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.single-post-container > * {
    margin-bottom: 48px;
}

/* Ordering */

.single-post {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.single-post > * {
    margin: 0 0 24px 0;
}

.single-post-header {
    order: 1;
}

.single-post-thumbnail {
    order: 2;
}

.single-post-content {
    order: 3;
}

.single-post-read-more {
    order: 4;
}

.single-post-share {
    order: 5;
}

.single-post-thumbnail {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.single-post-thumbnail img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 800px;
}

.single-post-read-more {
    text-align: center;
}

.single-post-share {
    display: inline-flex;
    justify-content: center;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.single-post-share .share-post-icon {
    margin-right: 12px;
}

.single-post-meta {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    font-family: 'Helvetica', sans-serif;
    font-weight: 800;
    color: var(--infotextGray);
    text-align: center;
}

.single-post-meta a {
    color: var(--infotextGray);
    text-decoration: none;
}

.single-post-meta a:hover {
    opacity: 1;
}

.single-post-header {
    position: relative;
}

.single-post-header > *:not(:last-child) {
    margin-bottom: 24px;
}

.single-post-title {
    text-align: center;
}

.single-post-title {
    font-family: 'Miller Banner Light';
    font-weight: normal;
    font-style: normal;
    font-size: 56px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: normal;
}

.single-post-title:hover {
    text-decoration: none;
}

.single-post-secondary-meta {
    text-align: center;
}

.single-post-secondary-meta a {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-family: 'Simoncini Garamond Italic', 'serif';
    color: var(--titleGray);
    letter-spacing: 0.5px;
}

.single-post-content {
}

.single-post-content p {
    color: var(--titleGray);
    font-size: 18px;
    font-family: 'Simoncini Garamond Italic', sans-serif;
    line-height: 34px;
}

.section-title {
    text-align: center;
}

.section-title .wrap {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 48px 0;
    border-bottom: 2px solid rgba(0,0,0,1);
}

/* Single Post Options */
/* Share Style 2 */
.share-style-2 {
    position: fixed;
    z-index: 99;
    top: 40%;
    order: 0;
    left: 0;
    border-bottom: 0;
    border-top: 0;
    padding: 0;
}

.share-style-2 .holder {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 6px 0px 76px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 6px 0px 76px -2px rgba(0,0,0,0.25);
    box-shadow: 6px 0px 76px -2px rgba(0,0,0,0.25);
}

.share-style-2 .holder .share-post-icon {
    margin: 0;
    padding: 18px;
    background-color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position: relative;
    transition: all 0.25s ease;
}


.share-style-2 .holder .share-post-icon:after {
    content: "Share this post!";
    background-color: black;
    white-space: nowrap;
    color: white;
    padding: 4px 16px;
    position: absolute;
    visibility: hidden;
    margin-left: 30px;
    border-radius: 3px;
    top: 0;
    transform: translate3d(-5%, 50%, 0);
    transition: transform 0.15s ease;
}

.share-style-2 .holder .share-post-icon:hover {
    background-color: rgba(0,0,0,0);
}

.share-style-2 .holder .share-post-icon:hover:after {
    visibility: visible;
    transform: translate3d(10%, calc(50% - 0.5px), 0);
}

.share-style-2 .holder .share-post-icon:last-of-type {
    border-bottom: 0;
}

/* Share Style 3 */
.share-style-3 {
}

.share-style-3 .holder .share-post-icon {
    position: relative;
    margin: 0 16px;
    height: 36px;
    width: 36px;
    line-height: 34px;
    border: 2px solid rgba(0,0,0,1);
    background-color: transparent;
    color: black;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
}

.share-style-3 .holder .share-post-icon:hover {
    border: 2px solid rgba(0,0,0,0.2);
}


/* Related Posts */

.related-posts .related-the-posts-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.related-posts .related-the-post {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 31.133333%;
    -ms-flex: 0 0 31.133333%;
    flex: 0 0 31.133333%;
    max-width: 31.133333%;
}

.related-posts .related-the-post img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.related-posts .related-post-title {
    text-align: center;
    margin: 12px 0 6px 0;
    font-size: 20px;
}

.related-posts .related-the-post a {
    margin: 12px 0 6px 0;
    font-size: 22px;
    font-family: 'Simoncini Garamond Italic', sans-serif;
    font-weight: 600;
}

.related-posts .related-the-post .related-post-time {
    text-align: center;
}

.related-posts .related-the-post .posted-on a {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.4);
}

.no-related-posts {
    position: relative;
    background-color: rgba(255,255,255,1);
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Comments */

.comments-list {
    display: flex;
    flex-direction: column;
}

.comment .child-comments {
    align-items: flex-end;
}

.comment-wrapper {
    margin: 0 0 24px 0;
    padding: 0 0 24px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: inline-flex;
    flex-direction: row;
    max-width: 100%;#C69F73
}

.comment .avatar {
    margin-right: 24px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    background-color: rgba(0,0,0,0.2);
}

.comment .info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.comment .comment-meta {
    margin: 0 0 12px 0;
}

.comment .comment-author {
    margin: 0 0 6px 0;
}

.comment .comment-author a {
    font-family: 'Simoncini Garamond Italic', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0 0 4px 0;
}

.comment .comment-time {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,0.4);
    margin: 0 0 16px 0;
}

.comment .comment-content p {
    font-size: 20px;
    margin-bottom: 12px;
}

.comment .comment-content p > a {
    color: rgba(38, 142, 239, 1);
    padding: 0 0 1px 0;
    border-bottom: 2px solid rgba(38, 142, 239, 1);
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.comment .comment-content p > a:hover {
    color: rgba(0, 68, 181, 1);
    border-bottom: 2px solid rgba(38, 142, 239, 0.5);
}

.comment .comment-content .comment-reply-link {
    font-size: 8px;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 4px 16px;
    background-color: rgba(0,0,0,0.20);
    transition: background-color 0.5s ease;
}

.comment .comment-content .comment-reply-link:hover {
    background-color: rgba(0,0,0,1);
}


/* Comment Reply */

#reply-title {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    border-bottom: 2px solid rgba(0,0,0,1);
}

#respond .comment-notes {
    font-size: 16px;
    margin: 0 0 12px 0;
}

#respond .comment-form > p {
    margin-top: 16px;
}

#respond .comment-form > p:first-child {
    margin-top: 0;
}

#respond .comment-form > p:nth-child(2) {
    margin-top: 32px;
}

#respond p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

#respond .comment-notes {
    display: block;
}

#respond .comment-notes #email-notes {
    color: rgba(0,0,0,0.6);
}

#respond p label {
    will-change: transform;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    color: rgba(0,0,0,0.7);
    margin: 0 0 8px 0;
}

#respond p textarea,
#respond p input {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    max-width: 100%;
    outline: 0;
    padding: 16px;
    border: 0;
}

#respond .form-submit #submit {
    border-radius: 2px;
    background-color: rgba(0,0,0,1);
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

#respond .form-submit #submit:hover {
    cursor: pointer;
}

/* Meta */
/* Socicon */

[class^="socicon-"], [class*=" socicon-"] {
  font-family: 'Socicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Js Cover Menu */

/* Js Menu Overrides */
#js-cover-menu {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    display: flex;
    height: 28px;
    width: 35px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#js-cover-menu .plus {
    will-change: transform, opacity;
    line-height: 28px;
    width: 12px;
    height: 12px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    -o-transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out, opacity 0.15s ease;
    opacity: 1;
}

#js-cover-menu-dropdown {
    display: none;
    text-align: right;
    background-color: white;
    border: 1px solid #e5e5e5;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
}

#js-cover-menu:hover .plus {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 0.3;
}

#js-cover-menu:hover #js-cover-menu-dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    top: 100%;
}

#js-cover-menu-dropdown > li {
    padding: 12px 24px 12px 24px;
    white-space: nowrap;
    border-bottom: 1px solid #e5e5e5;
}

#js-cover-menu-dropdown > li:last-child {
    border-bottom: 0;
}

#js-cover-menu-dropdown > li a {
    font-size: 14px;
    color: var(--titleGray);
    font-family: 'Helvetica', serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Loader */
#js-load-mask {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    opacity: 1;
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}


/* Welcome Screen & Setup Experience */

.welcome_screen {
    display: flex;
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        transform: translate3d(0,10px,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translate3d(0,-15px,0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

@keyframes marginAdd {
    from {
        margin-bottom: 0;
    } to {
        margin-bottom: 48px;
    }
}


.welcome_screen {
    overflow: visible;
}

.welcome_screen .top-part {
    will-change: margin;
    display: flex;
    z-index: 2;
    transition: margin 0.5s ease, transform 0.35s ease;
    animation: 0.8s ease 0s marginAdd;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.welcome_screen .welcome-text {
    display: inline-flex;
    opacity: 0;
    font-size: 72px;
    animation: 1s ease 0s 1 fadeInFromTop;
    animation-delay:0.5s;
    animation-fill-mode: forwards;
}

.welcome_screen .more-text {
    display: inline-flex;
    opacity: 0;
    font-size: 72px;
    animation: 1s ease 0s 1 fadeInFromBottom;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.welcome_screen .bottom-part {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    opacity: 0;
    animation: 1s ease 0s 1 fadeInFromBottom;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.welcome_screen .go {
    will-change: scale;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 600px;
    width: 600px;
    background-color: #fdff60;
    margin-top: 10%;
    transition: all 1s ease;
    z-index: 2;
}

.welcome_screen .go_bg {
    z-index: 1;
    transition: all 0.5s ease;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.welcome_screen .go-text {
    text-transform: uppercase;
    font-family: Helvetica;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    z-index: 3;
    margin-top: 27%;
}

.welcome_screen .go:hover  {
    cursor: pointer;
    height: 640px;
    width: 640px;
}

#screen .basic_title {
    font-size: 40px;
}


/* SCRAPE! */

#page {
    position: relative;
}

.show-tooltips {
    z-index: 9999;
    background-color: #42f4a1;
    position: sticky;
    bottom: 24px;
    padding: 24px;
    left: 24px;
    outline: none;
    box-shadow: none;
    border: none;
    font-size: 14px;
    color: var(--titleGray);
    font-family: 'Helvetica', serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.25s ease;
}

.show-tooltips:hover {
    cursor: pointer;
    background-color: #4238ff;
    color: white;
}