<div id="basic-settings-template">
	<style type="text/css">
	@keyframes fadeInFromBottom {
	    0% {
	        opacity: 0;
	        transform: translate3d(0,10px,0);
	    }
	    100% {
	        opacity: 1;
	        transform: translate3d(0,0,0);
	    }
	}

	#basic-settings-template {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    animation: 1s ease 0s 1 fadeInFromBottom;
	    padding: 120px 48px;
	    background-color: white;
	    border-radius: 3px;
	}

	.title-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 90%;
	}

	.title-box .small-title {
		font-family: Helvetica, sans-serif;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		opacity: 0.2;
		text-align:center;
	}

	.title-box .big-cta {
		font-size: 60px;
		color: #1f1f1f;
		margin-bottom: 48px;
		text-align:center;
	}

	.blog-name input {
		overflow: visible;
		font-size: 14px;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: Helvetica;
		font-weight: 700;
		width: 480px;
		height: 48px;
		padding: 24px;
		border-radius: 3px;
		color: rgba(0,0,0,0.5);
		border: none;
		background-color: #eff4fa;
		transition: all 0.25s ease;
	}
	.blog-name input:focus {
		outline: none;
	}
	</style>
	<div class="title-box">
		<p class="small-title">The Beginnings</p>
		<h3 class="big-cta">What Will Your Blog Be Called?</h3>
	</div>
	<form id="myForm-1" action="#" method="post">
		<div class="blog-name">
			<input type="text" name="name" id="form__name_of_blog" value="" placeholder="Enter the name..." tabindex="1">
		</div>
	</form>
</div>